<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="sqlnts2" value="PROVIDER=SQLOLEDB;Server=uclnts2;database=common;UID=uclmis;PWD=db600;AutoTranslate=no" />
        <add key="mrlpub" value= "Provider=SQLOLEDB.1;Data Source=isccom1;User ID=webuser;Password=db600;Initial Catalog=mrlpub" />
        <add key="isccom1_common" value="Provider=SQLOLEDB.1;Server=isccom1;User ID=webuser;Password=db600;Database=common" />
		<add key="ContactorName" value="陳俐靜" />
		<add key="ContactorEmailAddress" value="890711@itri.org.tw" />
		<add key="DefaultSubject" value="對mrlpub的建議" />
		<add key="DefaultBody" value="我個人對[材料所 出版品客戶管理系統]有以下建議：" />
    </appSettings>

	<system.web>
        <globalization
                requestEncoding="big5"
                responseEncoding="big5"
        />

        <customErrors mode="Off" />
        
                
	</system.web>
</configuration>
